@{
    ViewBag.Title = "Hakkında";
}
<h2>VİZYONUMUZ</h2>

<p>Ürünümüz evlerinde tek başlarına kalan, bazı ihtiyaçlarını karşılamakta zorluk çeken yaşlılar içindir. DOST ELİ yaşlıların dışarıdan gelecek ihtiyaçlarını karşılayacak, onların yalnız hissetmelerini engelleyecek onlarla hem online hem de yüz yüze muhabbet edebilecek arkadaşlarımıza ulaşmasını sağlayan bir uygulamadır. Günümüzde yaşlılarımızın online görüntülü sohbet edebileceği uygulamalar mevcut ancak bizim ürünümüz bunların yanı sıra yaşlılarımızın hem ihtiyaçlarını karşılamasına yardımcı oluyorken hem de onlara dost olacak, gönülden bir şekilde sohbet edecek arkadaşlarımıza ulaşmalarını, sosyalleşmelerini sağlar.</p>
