@{
    ViewBag.Title = "İletişim";
}
<h3>@ViewBag.Message</h3>

<address>
    Denizli/Pamukkale<br />
    <abbr title="Phone">Numara:</abbr>
    0(258) 251 14 99
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:syoruc18@posta.pau.edu.tr">syoruc18@posta.pau.edu.tr</a><br />
    <a href="mailto:gcolak181@posta.pau.edu.tr">gcolak181@posta.pau.edu.tr</a><br />
    <a href="mailto:htataroglu18@posta.pau.edu.tr" >htataroglu18@posta.pau.edu.tr</a><br />
</address>