@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="jumbotron">
    <h1>DOST ELİ</h1>
    <p class="lead">Dost Eli uygulaması yardıma ihtiyacı olan yaşlılarımıza yardım etmek için kurulmuş gönüllülük esaslı bir uygulamadır.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Yardım almak ister misiniz?</h2>
        <p>
            Gençlerimiz ve hala genç olanlarımız yalnız ve ihtiyaç sahibi yaşlılarımıza yardım ediyor.
        </p>
        <p><a class="btn btn-default" href="/LoginUser/IndexLoginUser">Daha fazlası için &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gönüllümüz olmak ister misiniz?</h2>
        <p>
            Gönüllümüz olarak şehrinizde yaşayan bize ihtiyaç bildirimi yapmış yaşlımıza yardımcı olabilirsiniz.
        </p>
        <p><a class="btn btn-default" href="/Home/Contact">Daha fazlası için &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Memnuniyet Anketi</h2>
        <p>Uygulamamızı geliştirebilmemiz için memnuniyet anketimizi lütfen doldurunuz.</p>
        <p><a class="btn btn-default" href="/Answer/Create">Daha fazlası için &raquo;</a></p>
    </div>
</div>